:root {
    --black: #0D0B0C;
    --star: #D4A763;
    --dark-gray: #5A5756;
    --light-gray: #F3F0EE;
    --medium-gray: #A8A5A3;
}

* {
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    padding: 0px 26px;
    background-color: var(--light-gray);
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.header-img {
    width: 100px;
    margin-right: 10px;
}

h1 {
    font-weight: inherit;
    font-size: 35px;
    margin: 0px;
}

h3 {
    margin: 0px;
}

.projects-cards {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}

.projects-cards .card {
    background-color: white;
    width: 145px;
    height: 165px;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 16px;
}

.projects-cards .card .language {
    margin: 0px;
    text-align: left;
    text-transform: capitalize;
    color: var(--star);
    text-shadow: 1px 1px 1px #ddd9d7;
}

.projects-cards .card .card-img {
    background: transparent;
    width: 100px;
}

.projects-cards .card .body-card {
    display: flex;
    max-height: 100%;
    flex-flow: row;
    height: 20px;
    justify-content: space-between;
}

.projects-cards .card .body-card .description-card {
    height: 100%;
    text-align: left;
}

.projects-cards .card .body-card .description-card h4 {
    margin: 0;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: lighter;
    text-transform: capitalize;
}

.projects-cards .card .body-card .description-card h5 {
    margin: 0;
    max-width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: lighter;
    text-transform: capitalize;
}

.projects-cards .card .body-card .card-stars {
    height: 100%;
    text-align: right;
}

.projects-cards .card .body-card .card-stars h4 {
    color: var(--star);
    text-shadow: 1px 1px 1px #ddd9d7;
}

/* Loading */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
